<%= javascript_pack_tag 'reorder'%>
<div class="destination_card my-2">
  <div class="dc_up-down">
    <div id="button-up"><i class="fas fa-chevron-up"></i></div>
    <div id="button-down"><i class="fas fa-chevron-down"></i></div>
  </div>
  <%= link_to destination.place.accommodation? ? "javascript: void(0)" : place_path(destination.place), class:"d-flex" do %>
    <div class="dc_img">
      <%= destination.place.photos&.attached? ? cl_image_tag(destination.place.photos.first.key) : image_tag("https://images.vexels.com/media/users/3/128747/isolated/preview/30bdbb2e5f0f12d108d559752aff147e-sleeping-bed-real-estate-icon.png") %>
    </div>
    <div class="dc_info">
      <div>
        <h2><%= destination.place.name %></h2>
        <h3><span>in </span><%= destination.place.city.capitalize %></h3>
      </div>
    </div>
  <% end %>
</div>
