<div class="nav-back">
  <%= render 'shared/back_button' %>
</div>
<div class="search-content">
  <%# ------------ new itinerary form ---------------- %>
  <div class="mx-3 d-flex flex-column">
    <h3 class="text-primary">Add a new itinerary to your list:</h3>
    <div class="mx-3">
      <%= simple_form_for @itinerary do |f|%>
        <%= f.input :name, placeholder: 'Itinerary name', label: false %>
        <%= f.submit 'Add New', class: 'btn btn-info btn-form mb-5' %>
      <% end %>
    </div>
  </div>
  <%# -------------list of my itineraries------------- %>
  <h3 class="mx-3 text-primary">Your itineraries list:</h3>
  <div class="d-flex flex-column align-items-center">
    <% unless @itineraries.any? %>
      <h3 class="text-center">No itineraries yet</h3>
    <% end %>
    <% @itineraries.order(created_at: :desc).each do |itinerary| %>
      <%= link_to itinerary_path(itinerary) do %>
        <div class="itinerary_card mb-5" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url(<%= itinerary.places.first&.photos&.attached? ? cl_image_path(itinerary.places.first.photos.first.key) : image_path("https://images.unsplash.com/photo-1532188978303-4bfaccc429d2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940") %>)">
          <div class="itinerary_card-info">
            <h2><%= itinerary.name.upcase %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
