<h1>Itineraries#index</h1>
<%# -------------list of my itineraries------------- %>
<% @itineraries.each do |itinerary| %>
  <%= link_to itinerary_path(itinerary) do %>
    <p><strong><%= itinerary.name %></strong></p>
  <% end %>
<% end %>
<%# -------------links at the bottom------------- %>
<%= link_to "Home", root_path %>
<%= link_to "Search for places", places_path %>
<%= link_to "Itineraries", itineraries_path %>
