<div class="nav-back">
  <%= render 'shared/back_button' %>
</div>
<div class="search-content d-flex flex-column justify-content-center align-items-center">
  <h1 class="px-4 text-primary">Itinerary: <%= @itinerary.name.capitalize %></h1>
  <% unless @itinerary.destinations.any? %>
    <h3 class="text-center mb-5">No destinations yet</h3>
    <!-- Button trigger modal -->
    <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#placeForm">
      <i class="fas fa-plus"></i><i class="fas fa-bed"></i>
    </button>
    <%= link_to places_path do %>
      <p class='text-center'><i class="fas fa-search"></i>  or search for a place to visit</p>
    <% end %>
  <% end %>
  <div class='w-100'><%= render partial: "map"%></div>
  <div class="d-flex flex-column align-items-center mb-3">
    <ul data-controller="sortable" data-sortable-resource-name-value="destination" style='list-style-type: none;' class='p-0 m-0'>
      <% @itinerary.destinations.order(position: :asc).each do |destination| %>
        <li  data-sortable-update-url="<%= destination_path(destination) %>" >
          <%= render "destination_card", destination: destination %>
          <div class="d-flex justify-content-end">
            <%= link_to "", class: 'btn-route', data: {sortable_target: 'button', address: destination.place.address }, target: '_blank' do %>
              <h6 class="mb-0"><i class="fas fa-map-marker-alt"></i>  Get directions</h6>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if @itinerary.destinations.any? %>
  <!-- Button trigger modal -->
  <button type="button" class="button button-add-hotel" data-bs-toggle="modal" data-bs-target="#placeForm">
    <i class="fas fa-plus"></i><i class="fas fa-bed"></i>
  </button>
<% end %>
<!-- Modal -->
<div class="modal fade" id="placeForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <p style="opacity: 0.6">Itinerary: <%= @itinerary.name.upcase %></p>
          <h5 class="modal-title" id="exampleModalLabel">Add an accommodation</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "places/add_accommodation", itinerary: @itinerary, place: @place %>
      </div>
    </div>
  </div>
</div>
