<div class="container p-3 text-center">
  <% if @itinerary.name %>
    <h1><%= @itinerary.name %></h1>
  <% else %>
    <h1>Unnamed Itinerary</h1>
  <% end %>
  <p>Drag and drop the cards to rearrange</p>
</div>
<div class="container p-3">
  <% if @itinerary.places.any? %>
    <% @itinerary.places.each do |place| %>
      <%= link_to place_path(place) do %>
        <div class="small_card mx-3 my-3">
          <img src="https://wallpaperaccess.com/full/2286682.jpg" />
          <div class="small_card-info">
            <h2><%= place.name %></h2>
            <p><%= place.description %></p>
            <h3><%= place.address.capitalize %></h3>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-end">
        <%= link_to "https://maps.google.com" do %>
          <li class="link mx-3 my-3" >Route Search</li>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h3 class="text-center">No destinations yet</h3>
  <% end %>
</div>
