<h1>Pages#home</h1>

<div class="button">click me</div>
<li class="link mt-3" >Route Search</li>

<h2>Top recommendations for you:</h2>
<%# -------------list of places------------- %>
<% @places.each do |place| %>
  <%= link_to place_path(place) do %>
    <p><%= place.name %></p>
  <% end %>
<% end %>
<%# -------------links at the bottom------------- %>
<%= link_to "Home", root_path %>
<%= link_to "Search for places", places_path %>
<%= link_to "Itineraries", itineraries_path %>
