<div class="banner position-relative">
  <div class="banner-image" style="background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url(<%= image_path('home/map-img.jpeg') %>);"> </div>
  <div class="container">
    <%= image_tag "brand_kit/text_logo_green.png", style: "margin-left:33px;", alt: "Allymaps icon", width: "300", height: "150" %>
    <p class="text-primary" style="text-align:center">Your companion in accessible travel</p>
  </div>
  <%# -------------search by location form------------- %>
  <%# <h3 class="px-4 mb-3 mt-3 text-primary">Where are you going?</h3> %>
  <%= form_tag places_path, method: :get, class: 'search-form pb-3 mx-4' do %>
    <%= text_field_tag :address,
        params[:location],
        class: "form-control text-center",
        placeholder: "Where are you going?"
      %>
    <%= button_tag type: 'submit', class: "btn btn-dark btn-search" do%>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  <div class="arrow">
    <a href="#browse"><i class="fas fa-chevron-down fa-3x position-absolute top-86 start-50 translate-middle "></i></a>
  </div>
</div>
<div class="home-content">
  <%# ------------CATEGORIES BUTTONS ----------------- %>
  <div id="browse" class="container">
    <div class="d-flex mt-5 pt-2">
      <%= image_tag "brand_kit/icon_green.png", style: "margin:10px;", alt: "Allymaps icon", width: "50", height: "50" %>
      <h3 class="py-4 px-1 text-primary">What are you looking for?</h3>
    </div>
    <div class="cards-categories mx-3">
      <%= link_to places_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url('https://images.pexels.com/photos/6039219/pexels-photo-6039219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
          <h2>TEMPLES / SHRINES</h2>
        </div>
      <% end %>
      <%= link_to places_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url('https://images.pexels.com/photos/2187427/pexels-photo-2187427.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
          <h2>LANDMARKS</h2>
        </div>
      <% end %>
      <%= link_to places_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url('https://images.pexels.com/photos/4552171/pexels-photo-4552171.jpeg')">
          <h2>RESTAURANTS / CAFES</h2>
        </div>
      <% end %>
      <%= link_to places_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),url('https://images.pexels.com/photos/5746154/pexels-photo-5746154.jpeg')">
          <h2>PARKS / GARDENS</h2>
        </div>
      <% end %>
    </div>
  </div>
  <%# ------------ 3 RECOMENDATIONS ----------------- %>
  <div class="d-flex container pt-2">
    <%= image_tag "brand_kit/icon_green.png", style: "margin:10px;", alt: "Allymaps icon", width: "50", height: "50" %>
    <h3 class="py-4 px-1 text-primary">Top Recomendations</h3>
  </div>
  <div class="container top-recomendations d-flex flex-column align-items-center" style="margin-top: -17px;">
    <% @places.shuffle.first(3).each do |place| %>
      <%= render "shared/mid_card", place: place %>
    <% end %>
  </div>
  <div class="empty"></div>
</div>
