<div class="nav-back">
  <%= render 'shared/back_button' %>
</div>
<%# -------------search by location form------------- %>
<div class="search-content-map">
  <h3 class="px-4 mb-3 mt-3 text-primary">Search your destination</h3>
  <%= form_tag places_path, method: :get, class: 'search-form pb-3 mx-4' do %>
    <%= text_field_tag :address,
      params[:location],
      class: "form-control",
      placeholder: "Where do you want to go?"
  %>
    <%= button_tag type: 'submit', class: "btn btn-dark btn-search" do%>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
  <%# -------------list of places in the map------------- %>
  <div id='map-container'><%= render partial: "map"%></div>
</div>
<%# -------------list of places with mid-card------------- %>
<div class="places-list p-3">
  <div class="text-center"><i class="fas fa-grip-lines"></i></div>
  <h2 class='py-2 text-center text-primary'>Destinations</h2>
  <div class="cards">
    <% @places.each do |place| %>
      <%#= link_to place_path(place), class: 'card-link' do %>
        <%= render "shared/mid_card", place: place %>
        <%# end %>
      <% end %>
    </div>
  </div>
  <%# <h3 class="p-3">Top Recomendations for you</h3>
<div class="container top-recomendations d-flex flex-column align-items-center">
  <% @places.shuffle.first(3).each do |place| %>
    <%# <%= render "mid_card", place: place %>
    <%# <% end %>
    <%# </div> %>
