<h1>Places#index</h1>
<%# -------------list of places------------- %>
<% @places.each do |place| %>
  <%= link_to place_path(place) do %>
    <p><strong><%= place.name %></strong></p>
    <p><%= place.address.capitalize %></p>
  <% end %>
<% end %>
<%# -------------links at the bottom------------- %>
<%= link_to "Home", root_path %>
<%= link_to "Search for places", places_path %>
<%= link_to "Itineraries", itineraries_path %>
