<h1 class="px-5 mt-5 text-center text-primary">Share a place in our accessible community</h1>
<div class="container p-3">
  <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3">
      <%= simple_form_for @place do |f| %>
        <%= f.input :name, class: 'new-place-input' %>
        <%= f.input :description, as: :text, class: 'review-textarea new-place-input', label: "Describe the place and how accessible it is" %>
        <%= f.input :city, class: 'new-place-input' %>
        <%= f.input :address, class: 'new-place-input' %>
        <%= f.input :area, collection: Place.areas.keys, label: "How accessible is the area?", include_blank: false, class: 'new-place-input', as: :radio_buttons, checked: 'No data' %>
        <%# below is the same as Place.toilets.keys.map(|key| key.humanize) %>
        <%= f.input :toilet, class: 'new-place-input', collection: Place.toilets.keys,
        label: '<div class="cards-icons d-flex align-items-center">
              <div class="icons-container">
                <h3 class="mx-1 puto3"><i class="fas fa-solid fa-restroom roll fa-lg"></i></h3>
              </div>
              <p class="m-0">Are there any accessible toilets?</p>
            </div>'.html_safe, include_blank: false, as: :radio_buttons, checked: 'No data' %>
        <%= f.input :elevator, class: 'new-place-input', collection: Place.elevators.keys,
        label: '<div class="cards-icons my-1 d-flex align-items-center">
              <div class="icons-container">
                <i class="mx-1 puto2 fas fa-universal-access fa-lg"></i>
              </div>
              <p class="m-0">Does it have an elevator?</p>
            </div> '.html_safe, include_blank: false, class: '', as: :radio_buttons, checked: 'No data' %>
        <%= f.input :parking,  as: :radio_buttons, checked: 'No data', class: 'new-place-input', collection: Place.parkings.keys,
        label: '<div class="cards-icons d-flex align-items-center">
              <div class="icons-container">
                <h3 class="mx-1">
                  <p class="puto">P</p>
                </h3>
              </div>
              <p class="m-0">Does it have accessible parking?</p>
            </div>'.html_safe %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit 'Post', class: 'button-review-post w-100 my-4' %>
      <% end %>
    </div>
  </div>
</div>
