<div class="place-imgs">
  <div class="nav-back-place">
    <%= render 'shared/show_back_button' %>
  </div>
  <% if @place.photos.first %>
    <a href="#" class="" data-bs-toggle="modal" data-bs-target="#myModal">
      <%= cl_image_tag @place.photos.first.key %>
    </a>
  <% else %>
    <img src="https://wallpaperaccess.com/full/2286682.jpg"/>
  <% end %>
</div>
<div class="p-3 place-content">
  <h1 class='text-center p-2 text-primary'><%= @place.name %></h1>
  <%# ------------- conditional for percentage icon ------------ %>
  <% if @place.area == 'fully' %>
    <h3 class='percentage-icon green'><%= @place.area.titleize %> Accessible</h3>
  <% elsif @place.area == 'mostly' %>
    <h3 class='percentage-icon yellow'><%= @place.area.titleize %> Accessible</h3>
  <% elsif @place.area == 'partly' %>
    <h3 class='percentage-icon orange'><%= @place.area.titleize %> Accessible</h3>
  <% elsif @place.area == 'not' %>
    <h3 class='percentage-icon red'><%= @place.area.titleize %> Accessible</h3>
  <% end %>
  <%# -------------- accessible features table ---------------- %>
  <h3 class='pt-3 pb-3'></h3>
  <table class="table table-striped mb-4">
    <tr>
      <td>
        <div class="cards-icons">
          <div class="icons-container">
            <h3 class="mx-1 puto3"><i class="access-icon fas fa-solid fa-restroom roll fa-lg"></i></h3>
          </div>
        </div>
      </td>
      <td>Accessible Toilet</td>
      <% if @place.toilet == 'no_data' %>
        <td class='table-info'>No Info</td>
      <% elsif @place.toilet == 'has_many' %>
        <td class='table-info'>Many</td>
      <% elsif @place.toilet == 'has_one' %>
        <td class='table-info'>One</td>
      <% elsif @place.toilet == 'no' %>
        <td class='table-info'>None</td>
      <% end %>
    </tr>
    <tr>
      <td>
        <div class="cards-icons my-1">
          <div class="icons-container">
            <i class="mx-1 puto2 access-icon fas fa-universal-access fa-lg"></i>
          </div>
        </div>
      </td>
      <td>Elevator</td>
      <% if @place.elevator == 'no_data' || @place.elevator == 'nonessential' %>
        <td class='table-info'>No Info</td>
      <% elsif @place.elevator == 'no' %>
        <td class='table-info'>None</td>
      <% elsif @place.elevator == 'has' %>
        <td class='table-info'>Available</td>
      <% elsif @place.elevator == 'nonessential' %>
        <td class='table-info'>Not Necessary</td>
      <% else %>
        <td class='table-info'><%= @place.elevator&.titleize %></td>
      <% end %>
    </tr>
    <tr>
      <td>
        <div class="cards-icons">
          <div class="icons-container">
            <h3 class="mx-1 access-icon">
              <p class="puto">P</p>
            </h3>
          </div>
        </div>
      </td>
      <td>Priority Parking</td>
      <% if @place.parking == 'no_data' %>
        <td class='table-info'>No Info</td>
      <% elsif @place.parking == 'no' %>
        <td class='table-info'>None</td>
      <% elsif @place.parking == 'has' %>
        <td class='table-info'>Available</td>
      <% else %>
        <td class='table-info'><%= @place.parking&.titleize %></td>
      <% end %>
    </tr>
    <!-- <tr>
      <td><i class="fas fa-charging-station fa-2x access-icon"></i></td>
      <td>Wheelchair Charging Station</td>
      <% if @place.charging == 'no_data' %>
        <td class='table-info'>No Info</td>
      <% elsif @place.charging == 'no' %>
        <td class='table-info'>None</td>
      <% elsif @place.charging == 'has' %>
        <td class='table-info'>Available</td>
      <% else %>
        <td class='table-info'><%= @place.charging&.titleize %></td>
      <% end %>
    </tr> !-->
  </table>
  <%= javascript_pack_tag 'readmore'%>
  <div class="place-info-short">
    <p><%= @place.description[0, 135] %>...</p>
    <p class='text-center'><%= link_to 'Read more about this place', '#', class: 'readmore-btn' %></p>
    <%= link_to '#', class: 'readmore-arrow-btn' do %>
      <p class='text-center'><i class="fas fa-chevron-down"></i></p>
    <% end %>
  </div>
  <div class="place-info-long hidden">
    <p><%= @place.description %></p>
    <h5>Address:</h5>
    <h6 class='pb-3'><%= @place.address.titleize%>, <%= @place.city.titleize%></h6>
    <p class='text-center'><%= link_to 'Read less about this place', '#', class: 'readless-btn' %></p>
    <%= link_to '#', class: 'readless-arrow-btn' do %>
      <p class='text-center'><i class="fas fa-chevron-up"></i></p>
    <% end %>
  </div>
  <%# -------------LIST OF REVIEWS-------------- %>
  <h3>Reviews</h3>
  <div class="p-3 my-3">
    <div id="reviews">
      <% if @place.reviews.blank? %>
        <p id='noreviewsyet' class="text-center">No reviews yet</p>
      <% else %>
        <div class="cards">
          <% @place.reviews.each do |review| %>
            <%= render 'reviews/review', review: review %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%# ----------------- ADD BUTTON --------------------- %>
  <div class="d-grid gap-2 col-6 mx-auto mt-3">
    <!-- Button trigger MODAL -->
    <% if current_user %>
      <button type="button" class="button button-add-summary" data-bs-toggle="modal" data-bs-target="#itineraryModal">
        <i class="fas fa-plus"></i>
      </button>
    <% else %>
      <%= link_to new_user_session_path, class: 'button button-add-summary' do  %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
  </div>
</div>
<%# -------------FORM FOR THE REVIEWS-------------- %>
<div class="comment-form py-5 px-3">
  <h5>How accessible was this place?</h5>
  <%=  simple_form_for [@place, @review], remote: true do |f| %>
    <div class="star-rating mb-5">
      <% 5.times do |i| %>
        <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
      <% end %>
    </div>
    <%= f.input :content, as: :text, label: false, placeholder: 'Write about your experience', class: 'review-textarea' %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit 'Post', class: 'button-review-post' %>
  <% end %>
</div>
<!-- Modal -->
<div class="modal fade mt-5" id="itineraryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="modal-form-submit">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add <strong class="text-primary"><%= @place.name %></strong> to:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-modal-form-submit-target="close"></button>
      </div>
      <div class="modal-body p-4">
        <% if current_user&.itineraries&.last %>
          <%= simple_form_for [@place, @destination], remote: true, class: 'add-to-itinerary-form', html: { data: { action: "submit->modal-form-submit#clickClose"}} do |f| %>
            <%= f.association :itinerary, as: :hidden, input_html: { value: current_user.itineraries.last.id } %>
            <%= f.submit current_user.itineraries.last.name, class: 'itinerary_card_w100 mb-1 text-white', style: "background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(#{current_user.itineraries.last.places.first&.photos&.attached? ? cl_image_path(current_user.itineraries.last.places.first.photos.first.key) : image_path('https://images.unsplash.com/photo-1532188978303-4bfaccc429d2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940')})" %>
          <% end %>
          <p class="ms-3 fw-light fst-italic small-font">Created on: <%= current_user.itineraries.last.created_at.strftime("%b %e, %Y") %></p>
        <% end %>
        <div class="text-center">
          <%= simple_form_for @itinerary, remote: true, html: { data: { action: "submit->modal-form-submit#clickClose"}} do |f|%>
            <div class="position-relative">
              <%= f.input :name, placeholder: 'Add a new itinerary to your list', label: false %>
              <%= f.simple_fields_for :destinations do |d_form| %>
                <%= d_form.association :place, as: :hidden, input_html: { value: @place.id } %>
              <% end %>
              <%= button_tag type: 'submit', class: "btn btn-primary btn-add" do%>
                <i class="fas fa-plus"></i>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="mt-4 text-center">
          <%= link_to new_place_destination_path(@place) do  %>
            <p class="text-primary">or add this place to another of your itineraries</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- place images modal carousel -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <!-- carousel -->
        <div
               id='carouselExampleIndicators'
               class='carousel slide'
               data-ride='carousel'
               >
          <%# <ol class='carousel-indicators'>
            <li
                  data-target='#carouselExampleIndicators'
                  data-slide-to='0'
                  class='active'
                  ></li>
            <li
                  data-target='#carouselExampleIndicators'
                  data-slide-to='1'
                  ></li>
            <li
                  data-target='#carouselExampleIndicators'
                  data-slide-to='2'
                  ></li>
          </ol> %>
          <% if @place.photos.length == 1 %>
            <%= image_tag @place.photos.first, alt: 'place photo', class: 'place-img' %>
          <% elsif @place.photos.length > 1 %>
            <div id="carousel<%= @place.id %>" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag @place.photos.first, alt: 'place photo', class: 'place-img' %>
                </div>
                <% @place.photos[1..-1].each do |photo| %>
                  <div class="carousel-item">
                    <%= image_tag photo, alt: 'place photo', class: 'place-img' %>
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= @place.id %>" data-bs-slide="prev">
                <a
               class='carousel-control-prev previous'
               href='#carouselExampleIndicators'
               role='button'
               data-slide='prev'
               >
                  <span class='carousel-control-prev-icon'
                    aria-hidden='true'
                    ></span>
                  <span class='sr-only'>Previous</span>
                </a>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= @place.id %>" data-bs-slide="next">
                  <a
               class='carousel-control-next next'
               href='#carouselExampleIndicators'
               role='button'
               data-slide='next'
               >
                    <span
                    class='carousel-control-next-icon'
                    aria-hidden='true'
                    ></span>
                    <span class='sr-only'>Next</span>
                  </a>
                </div>
              <% end %>
            </div>
          </div>
          <%# <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">X</button>
          </div> %>
        </div>
      </div>
    </div>
