<div class="place-imgs">
  <div class="nav-back-place">
    <%= render 'shared/show_back_button' %>
  </div>
  <% if @place.photos.first %>
    <%= cl_image_tag @place.photos.first.key ,style:"width:100%" %>
  <% else %>
    <img style="width:100%" src="https://wallpaperaccess.com/full/2286682.jpg"/>
  <% end %>
</div>
<div class="p-3 place-content">
  <h1 class='text-center p-2 text-primary'><%= @place.name %></h1>
  <%= javascript_pack_tag 'readmore'%>
  <div class="place-info-short">
    <p><%= @place.description[0, 135] %>...</p>
    <p class='text-center'><%= link_to 'Read more about this place', '#', class: 'readmore-btn' %></p>
    <%= link_to '#', class: 'readmore-arrow-btn' do %>
      <p class='text-center'><i class="fas fa-chevron-down"></i></p>
    <% end %>
  </div>
  <div class="place-info-long hidden">
    <p><%= @place.description %></p>
    <h5>Address:</h5>
    <h6 class='pb-3'><%= @place.address.titleize%></h6>
    <p class='text-center'><%= link_to 'Read less about this place', '#', class: 'readless-btn' %></p>
    <%= link_to '#', class: 'readless-arrow-btn' do %>
      <p class='text-center'><i class="fas fa-chevron-up"></i></p>
    <% end %>
  </div>
  <h3 class='pt-3 pb-3'>Accessible Features</h3>
  <table class="table table-striped mb-5">
    <% unless @place.toilet == 'no_data' %>
      <tr>
        <td><i class="fas fa-toilet-paper fa-2x access-icon"></i></td>
        <td>Accessible Toilet</td>
        <% if @place.toilet == 'has_many' %>
          <td>Many</td>
        <% elsif @place.toilet == 'has_one' %>
          <td>One</td>
        <% elsif @place.toilet == 'no' %>
          <td>None</td>
        <% end %>
      </tr>
    <% end %>
    <% unless @place.area == 'no_data' %>
      <tr>
        <td><i class="fas fa-wheelchair fa-2x access-icon"></i></td>
        <td>Accessible Area</td>
        <% if @place.area == 'no' %>
          <td>None</td>
        <% else %>
          <td><%= @place.area.titleize %></td>
        <% end %>
      </tr>
    <% end %>
    <% unless @place.elevator == 'no_data' || @place.elevator == 'nonessential' %>
      <tr>
        <td><i class="fas fa-universal-access fa-2x access-icon"></i></td>
        <td>Elevator</td>
        <% if @place.elevator == 'no' %>
          <td>None</td>
        <% elsif @place.elevator == 'has' %>
          <td>Available</td>
        <% else %>
          <td><%= @place.elevator.titleize %></td>
        <% end %>
      </tr>
    <% end %>
    <% unless @place.parking == 'no_data' %>
      <tr>
        <td><i class="fas fa-parking fa-2x access-icon"></i></td>
        <td>Priority Parking</td>
        <% if @place.parking == 'no' %>
          <td>None</td>
        <% elsif @place.parking == 'has' %>
          <td>Available</td>
        <% else %>
          <td><%= @place.parking.titleize %></td>
        <% end %>
      </tr>
    <% end %>
    <% unless @place.charging == 'no_data' %>
      <tr>
        <td><i class="fas fa-charging-station fa-2x access-icon"></i></td>
        <td>Electric Wheelchair Charging Station</td>
        <% if @place.charging == 'no' %>
          <td>None</td>
        <% elsif @place.charging == 'has' %>
          <td>Available</td>
        <% else %>
          <td><%= @place.charging.titleize %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%# -------------LIST OF REVIEWS-------------- %>
  <h3>Reviews</h3>
  <div class="p-3 my-3">
    <div id="reviews">
      <% if @place.reviews.blank? %>
        <p class="text-center">No reviews yet</p>
      <% else %>
        <div class="cards">
          <% @place.reviews.each do |review| %>
            <%= render 'reviews/review', review: review %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <%# -------------FORM FOR THE REVIEWS-------------- %>
  <div class="comment-form p-4 mb-5">
    <h5>How accessible was this place?</h5>
    <%=  simple_form_for [@place, @review], remote: true do |f| %>
      <div class="star-rating mb-5">
        <% 5.times do |i| %>
          <input type="radio" name="review[rating]" value="<%= i + 1 %>" <%= "checked" if i == 2 %> />
        <% end %>
      </div>
      <%= f.input :content, as: :text, label: false, placeholder: 'Write about your experience', class: 'review-textarea' %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit 'Post', class: 'button-review-post' %>
    <% end %>
  </div>
  <%# ----------------- ADD BUTTON --------------------- %>
  <div class="d-grid gap-2 col-6 mx-auto mt-3">
    <!-- Button trigger modal -->
    <button type="button" class="button button-add-summary" data-bs-toggle="modal" data-bs-target="#itineraryModal">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade mt-5" id="itineraryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add <strong class="text-primary"><%= @place.name %></strong> to:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@place, @destination], class: 'add-to-itinerary-form' do |f| %>
          <%= f.association :itinerary, as: :hidden, input_html: { value: current_user.itineraries.last.id } %>
          <%= f.submit current_user.itineraries.last.name, class: 'itinerary_card_w100 mb-1 text-white', style: "background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(#{current_user.itineraries.last.places.first&.photos&.attached? ? cl_image_path(current_user.itineraries.last.places.first.photos.first.key) : image_path('https://images.unsplash.com/photo-1532188978303-4bfaccc429d2?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940')})" %>
        <% end %>
        <p class="ms-3 fw-light fst-italic small-font">Created on: <%= current_user.itineraries.last.created_at.strftime("%b %e, %Y") %></p>
        <div class="text-center">
          <%= link_to new_place_destination_path(@place), class: "" do %>
            or add it to a new or existing itinerary
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
